* {
    font-family: sans-serif;
}

/* Estilos para el contenedor de formulario */
.contenedor {
    max-width: 400px;
    text-align: center;
    margin: auto;
    border: 1px solid #ccc;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px #00000033;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
  
/* Estilos para el texto de encabezado */
.contenedor form h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    color: #666;
}


/* Estilos para los campos de entrada */
.input-usuario {
    display: block;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 3px solid #0000;
    transition: outline-color .12s;
}

.input-usuario:focus {
    outline: 3px solid #4CAF50;
}
  
/* Estilos para el botón de enviar */
.boton-enviar {
    width: 100px;
    height: 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
    transition: background-color .12s;
    width: 100px;
    height: 25px; 
}

/*transition: background-color .12s;*/
.boton-enviar:hover {
    background-color: #7CCF80;
}
