.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead {
    border-radius: 5px 5px 0 0;
}

.styled-table thead tr {
    background-color: #04AA6D;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    background-color: #2a2a2a;
    color: #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #3a3a3a;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #04AA6D;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
